{% extends "base.html"%}

{% block header %}
<h1>Análise: São Paulo vertical mostra cara de Cuca, sufoca a Chape e ganha opções para temporada</h1>
<h5>
    Everton, Toró e Vitor Bueno entram na segunda etapa e contribuem decisivamente na goleada por 4 a 0 sobre a Chapecoense. Time ganha força física e velocidade após trocas
</h5>
{% endblock %}

{% block conteudo %}
<main>
        <img src="../static/img/main.png" alt="">
        <a href="http://127.0.0.1:8000/pagina1">Veja a tabela do Brasileirao</a>
    </main>
    
{% endblock %}